

<div class="page_content_wrap page_top_wrap">
	<div class="content_wrap sc_hovers_st1">
		<div class="content">

			<div class="row">

				<h2 class="post_title">
					Benefits
				</h2>
				<div class="sc_column_item column-1_2 sc_column_item_1 odd first">
					<ul class="sc_list sc_list_style_iconed">
						<li class="sc_list_item odd first">

							<h4><span class="sc_list_icon icon-right-2"></span>  Tuition at convenient timings</h4>
							<p>
								No more travelling to meet your tutor or paying for the tutor’s travel time. It takes 2 minutes to log into your own secure online classroom. You can also study wherever you feel most comfortable – be that your bedroom, kitchen table, a coffee shop or even the park.
							</p>

						</li>
						<li class="sc_list_item even">
							<h4><span class="sc_list_icon icon-right-2"></span> Thousands of tutors from across the world to choose from</h4>
							<p>
								Tuition is provided by the same highly qualified and vetted tutors as regular one-to-one tuition but there are no geographic limitations and tutors do not spend valuable time travelling to their students.
							</p>
						</li>
						<li class="sc_list_item odd">
							<h4><span class="sc_list_icon icon-right-2"></span> Tuition available on a world class real life virtual classroom</h4>
							<p>
								The technology made it possible to create a real life virtual class room in your favorite place. The teacher will be available for you and he will teaching you from your home, sitting at his home.

							</p>
						</li>
						<li class="sc_list_item even">
							<h4><span class="sc_list_icon icon-right-2"></span> Many technological enablers to make learning most interesting</h4>
							<p>
								Many technological applications like digitizer, whiteboard, shared videos etc make learning an interesting one.


							</p>
						</li>
					</ul>
				</div>

				<div class="column-1_2 sc_column_item sc_column_item_2 even">
					<ul class="sc_list sc_list_style_iconed">
						<li class="sc_list_item odd">
							<h4><span class="sc_list_icon icon-right-2"></span> Variety of subjects available for tuition at the click of a button</h4>
							<p>
								You can learn your interested subjects without bothering about your syllabus. We are not here to teach your syllabus, but to teach your favorite and interesting Topics.
							</p>
						</li>
						<li class="sc_list_item even">
							<h4><span class="sc_list_icon icon-right-2"></span> Students can attend tuition sessions from any part of the world</h4>
							<p>
								place doesn’t matter, it is your interest toward the subject which matters. You can learn your lessons from any part of the world.
							</p>
						</li>	
						<li class="sc_list_item even">
							<h4><span class="sc_list_icon icon-right-2"></span> Quality checking</h4>
							<p>
								Parents can also overview the tuition sessions. Quality of tuition can be easily ascertained by parents as they can stay around while tuition is on.

							</p>
						</li>
						<li class="sc_list_item odd">
							<h4><span class="sc_list_icon icon-right-2"></span> Student can ensure that fee is paid only for the tuition sessions attended</h4>
							<p>
								You will be paying for the sessions you attended. If you are an expert in one topic no need to pay for it because you don’t need a help from us in that topic. You will be paying for only what you need.


							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<article class="post_item post_item_single page sc_bg1">
		<section class="post_content container">

			<h3 class="post_title text-center">
				<a ><span class="post_icon icon-agenda-2"></span>Advantages</a>
			</h3>
			<!-- Hover "Circle Effect 1" -->
			<div id="sc_blogger_1" class="sc_blogger layout_square_3 template_portfolio sc_blogger_horizontal sc_overflow_h_imp col-sm-9 center-block">
				<div class="isotope_wrap" data-columns="3">
					<div class="isotope_item isotope_item_square isotope_item_square_3 isotope_column_3">
						<div class="post_item post_item_square post_item_square_3 odd">
							<div class="post_content isotope_item_content ih-item colored circle effect1 left_to_right">
								<div class="spinner"></div>
								<div class="post_featured img">
									<a >
										<img alt="" src="images/tutor.png">
									</a>
								</div>
								<div class="post_info_wrap info">
									<div class="info-back">
										<h4 class="post_title">
											Excellent teachers
										</h4>
										<div class="post_descr">
											<p>
												Group of highly educated and  passionate individuals who want to contribute towards better learning.
											</p>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="isotope_item isotope_item_square isotope_item_square_3 isotope_column_3">
						<div class="post_item post_item_square post_item_square_3 even">
							<div class="post_content isotope_item_content ih-item colored circle effect1 left_to_right">
								<div class="spinner"></div>
								<div class="post_featured img">
									<a >
										<img alt="" src="images/board.png">
									</a>
								</div>
								<div class="post_info_wrap info">
									<div class="info-back">
										<h4 class="post_title">
											More comfortable learning environment
										</h4>
										<div class="post_descr">
											<p>
												E-Learning materials. No more worry about time
											</p>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="isotope_item isotope_item_square isotope_item_square_3 isotope_column_3">
						<div class="post_item post_item_square post_item_square_3 odd">
							<div class="post_content isotope_item_content ih-item colored circle effect1 left_to_right">
								<div class="spinner"></div>
								<div class="post_featured img">
									<a >
										<img alt="" src="images/lap.png"></a>
									</div>
									<div class="post_info_wrap info">
										<div class="info-back">
											<h4 class="post_title">
												<a >Convenience and flexibility</a>
											</h4>
											<div class="post_descr">
												<p>
													Plan your study time and schedule class.
												</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="isotope_item isotope_item_square isotope_item_square_3 isotope_column_3">
							<div class="post_item post_item_square post_item_square_3 even">
								<div class="post_content isotope_item_content ih-item colored circle effect1 left_to_right">
									<div class="spinner"></div>
									<div class="post_featured img">
										<a >
											<img alt="" src="images/institutions.png">
										</a>
									</div>
									<div class="post_info_wrap info">
										<div class="info-back">
											<h4 class="post_title">
												Top institutions
											</h4>
											<div class="post_descr">
												<p>
													Thousands of tutors from top institutions across the world to choose from
												</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="isotope_item isotope_item_square isotope_item_square_3 isotope_column_3">
							<div class="post_item post_item_square post_item_square_3 post_format_gallery odd">
								<div class="post_content isotope_item_content ih-item colored circle effect1 left_to_right">
									<div class="spinner"></div>
									<div class="post_featured img">
										<a href="post-gallery-format.html">
											<img alt="" src="images/mob.png">
										</a>
									</div>
									<div class="post_info_wrap info">
										<div class="info-back">
											<h4 class="post_title">
												More interaction and greater ability to concentrate
											</h4>
											<div class="post_descr">
												<p>
													More ease than face-to-face class sessions for shy students with less disctractions.
												</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="isotope_item isotope_item_square isotope_item_square_3 isotope_column_3">
							<div class="post_item post_item_square post_item_square_3 even last">
								<div class="post_content isotope_item_content ih-item colored circle effect1 left_to_right">
									<div class="spinner"></div>
									<div class="post_featured img">
										<a >
											<img alt="" src="images/rocket.png">
										</a>
									</div>
									<div class="post_info_wrap info">
										<div class="info-back">
											<h4 class="post_title">
												Improve your technical skills
											</h4>
											<div class="post_descr">
												<p>
													Improve your technical skills and knowledge by participating in e-Learning.
												</p>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
		</article>

	</div>