<div class="page_content_wrap page_top_wrap">


<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".feedback">Large modal</button>

<div class="modal fade feedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content p-lg">
      
      <h3>Fundamentals of calculus</h3>
      By <label><a href="">Vivek Narayanan</a></label>
      <p class="lead">Session #2 <small>20 Apr 2016 10.30 - 1.00 PM</small></p>
      
      <div class="form-group row">
      	<div class="col-sm-4 pl0">Your rating</div>       
      	<div class="col-sm-8 text-center">
      		  <input type="hidden"  class="rating" data-filled="fa fa-star fa-2x rated" data-empty="fa fa-star fa-2x"/>
      	</div>      
      </div>
      <div class="form-group">
      	<label class="control-label" for="feedback">Feedback</label>
      	<textarea id="feedback" class="form-control border">
      		
      	</textarea>
      </div>
      <div class="form-group text-center">
      	<button class="btn btn-info btn-raised">Send	</button>
      	<button class="btn btn-default btn-raised">Skip	</button>
      </div>
    </div>
  </div>
</div>



</div>