
<link rel='stylesheet' type='text/css' href='/css/jquery.toast.min.css' />
<script src="/js/lib/jquery.toast.min.js"></script>
<div class="page_content_wrap page_top_wrap sc_bg1">
    <section class="container mt">
        <div class="col-sm-10 center-block">
            <div class="panel">
                <div class="panel-heading">
                    <h3>Students</h3>
                    <small>View and manage Students</small>
                </div>
                <div class="panel-body pv0">
                    <div class="row mt">
                        <div class="col-sm-12 col-xs-12 center-block">
                            <div>
                            </div>
                            <div class="row-fluid">
                                <div class="pull-left">
                                    <div class="button-group">
                                        <a href="#AddStudent" class="btn btn-info btn-raised">Add New </a>
                                        <button id="btnDeleteStudent" class="btn btn-info btn-raised" data-toggle="tooltip" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i> </button>
                                        <button class="btn btn-info btn-raised" id="btnDisableStudent">Disable</button>
                                        <button class="btn btn-info btn-raised" id="btnActivateStudent">Activate</button>
                                        <!--    <a id="btnDeleteStudent" ><i class="fa fa-trash fa-2x"></i></a> -->
                                        <button id="reload" class="btn btn-info btn-raised"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <!--  <div class="pull-right pr">
                                     <div class="form-group has-feedback"  id="stud_div_id">
                                        <input  type="text"  id="text_box"  placeholder="Search" required="required" class="form-control open" />
                                        <a class="glyphicon glyphicon-search form-control-feedback text-muted search" type="button" id="btnsearchstud"> </a>
                                     
                                    </div> 
                                </div>
 -->
                                <div class="input-group ">
                                    <div class="form-group has-feedback" id="stud_div_id">
                                        <input type="text" class="form-control" aria-label="..." id="text_box">
                                        <a class="glyphicon glyphicon-menu-down form-control-feedback search dropdown-toggle"></a>
                                        <ul class="dropdown-menu dropdown-menu-right col-sm-12 ph-lg advanced-search">
                                            <form class="form-horizontal ph-lg">
                                                <div class="form-group">
                                                    <!-- <input type="text" class="form-control" id="subject" placeholder="Subject"> -->
                                                    <select class="form-control open" name="target" id="Studenttarget">
                                                        <option>Choose Syllabus </option>
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control open" name="class" id="studentgrade">
                                                        <option>Choose Class </option>
                                                    </select>
                                                </div>
                                                <div class="form-group text-center">
                                                    <button id="studDropdown" type="button" class="btn btn-info btn-raised search-btn"><em class="fa fa-search"></em></button>
                                                </div>
                                            </form>
                                        </ul>
                                    </div>
                                    <div class="input-group-btn">
                                        <button id="btnsearchstud" class="btn btn-info btn-raised search-btn" title="Search"><em class="fa fa-search"></em></button>
                                    </div>
                                    <!-- /btn-group -->
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <th class="text-center">
                                            <span class="checkbox">
                            <label class="checkbox">
                            <input type="checkbox" id="bulkSelect">
                            </label>
                            </span>
                                        </th>
                                        <th>First Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Acivate Status</th>
                                    </thead>
                                    <input id="test" value=""></input>
                                    <tr>
                                        <td>
                                            <span class="checkbox">
                            <label class="checkbox">
                            <input name="selectCheck" type="checkbox" id="">
                            </label>
                            </span>
                                        </td>
                                        <td>ghgfh</td>
                                        <td>Fname</td>
                                        <td>L_Name</td>
                                        <td>Mobile</td>
                                        <td>
                                            <div class="togglebutton text-center">
                                                <label>
                                                    <input name="activeToggleStudent" type="checkbox">
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<script type="text/javascript">
$('button').click(function(e) {
    console.log(e.target)
});


$('a.dropdown-toggle').on('click', function(event) {
    event.stopPropagation();
    console.log('clicked');
    $(this).parent().toggleClass('open');
});

$('body').on('click', function(e) {
    if ($(e.target).parents('ul.dropdown-menu').length === 0 || $(e.target).is('.search-btn')) {
        // e.preventDefault();
        $('a.dropdown-toggle').parent().removeClass('open');
    }
});
</script>
