    <div class="page_content_wrap">
        <div class="content page_top_wrap">
            <article class="post_item post_item_single page type-page">
                <section class="post_content">
                    <div class="sc_section accent_top" data-animation="animated fadeInUp normal sc_bg1">
                        <div class="sc_section_overlay">
                            <div class="sc_section_content">
                                <div class="sc_content content_wrap margin_top_2_5em_imp margin_bottom_3em_imp">
                                    <h2 class="sc_title sc_title_regular sc_align_center margin_top_0 margin_bottom_08em text_center">Our awesome tutors</h2>
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                        <div class="column-1_2 sc_column_item sc_column_item_1 odd first res_width_100per_imp">
                                            <blockquote cite="#" class="sc_quote width_80per">
                                                <p>I have always felt that the true text-book for the pupil is his teacher</p>
                                                <p class="sc_quote_title">
                                                    <a href="personal-page.html">Mahatma Gandhi</a>
                                                </p>
                                            </blockquote>
                                            <div class="sc_socials sc_socials_size_small">
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_facebook">
                                                        <span class="sc_socials_hover social_facebook"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_pinterest">
                                                        <span class="sc_socials_hover social_pinterest"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_twitter">
                                                        <span class="sc_socials_hover social_twitter"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_gplus">
                                                        <span class="sc_socials_hover social_gplus"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_rss">
                                                        <span class="sc_socials_hover social_rss"></span>
                                                    </a>
                                                </div>
                                                <div class="sc_socials_item">
                                                    <a href="#" target="_blank" class="social_icons social_dribbble">
                                                        <span class="sc_socials_hover social_dribbble"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column-1_2 sc_column_item sc_column_item_2 even res_width_100per_imp">
                                            <figure class="sc_image sc_image_shape_square">
                                                <img src="images/teacher.png" alt="" />
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sc_section" data-animation="animated fadeInUp normal">
                        <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">

                           <div class="row">
                            <div class="search-row col-sm-6 center-block">
                                <div class="col-sm-3 pl-sm pr0">
                                    <select class="form-control open">
                                        <option selected="" disabled="">Choose class</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>B.Tech</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-sm pr0">
                                    <select class="form-control open">
                                        <option selected="" disabled="">Choose Board</option>
                                        <option>CBSE</option>
                                        <option>ICSE</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-sm pr0">
                                    <select class="form-control open">
                                        <option selected="" disabled="">Choose Subject</option>
                                        <option>Math</option>
                                        <option>English</option>
                                        <option>History</option>
                                        <option>Chemistry</option>
                                    </select>
                                </div>
                                <div class="col-sm-1">
                                    <a class="btn btn-link btn-raised ph0 m0" style="background:transparent"> <i class="fa fa-search fa-2x"></i></a>
                                </div>
                            </div>
                        </div>


                        <section class="row">

                            <!-- Tutor -->
                            <article class="col-sm-4 sc_team_item  ph-xl">
                              <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
                              <div class="sc_team_item_info p-sm">
                               <div class="pull-right">   
                                <a  title="Rating - 4" href="#">
                                    <span>4.0 <i class="fa fa-star"></i></span>
                                </a>
                            </div>
                            <h6 class="sc_team_item_title">
                                <a href="personal-page.html">John Snow</a>
                            </h6>
                            <div class="sc_team_item_position">English, History</div>
                            <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                            <div class="text-center">
                                <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
                            </div>                                         
                        </div>
                    </article>
                    <!-- Tutor -->
                    <article class="col-sm-4 sc_team_item  ph-xl">
                      <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
                      <div class="sc_team_item_info p-sm">
                       <div class="pull-right">   
                        <a  title="Rating - 4" href="#">
                            <span>4.0 <i class="fa fa-star"></i></span>
                        </a>
                    </div>
                    <h6 class="sc_team_item_title">
                        <a href="personal-page.html">Pamela Fryman</a>
                    </h6>
                    <div class="sc_team_item_position">English, History</div>
                    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
                    <div class="text-center">
                        <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
                    </div> 
                </div>
            </article>
            <!-- Tutor -->
            <article class="col-sm-4 sc_team_item  ph-xl">
              <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
              <div class="sc_team_item_info p-sm">
               <div class="pull-right">   
                <a  title="Rating - 4" href="#">
                    <span>4.0 <i class="fa fa-star"></i></span>
                </a>
            </div>
            <h6 class="sc_team_item_title">
                <a href="personal-page.html">John Johnson</a>
            </h6>
            <div class="sc_team_item_position">English, History</div>
            <div>Pricing from <b>&#x20B9;350/Hr</b></div>
            <div class="text-center">
                <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
            </div> 
        </div>
    </article>              <!-- Tutor -->
    <article class="col-sm-4 sc_team_item  ph-xl">
      <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
      <div class="sc_team_item_info p-sm">
       <div class="pull-right">   
        <a  title="Rating - 4" href="#">
            <span>4.0 <i class="fa fa-star"></i></span>
        </a>
    </div>
    <h6 class="sc_team_item_title">
        <a href="personal-page.html">John Snow</a>
    </h6>
    <div class="sc_team_item_position">English, History</div>
    <div>Pricing from <b>&#x20B9;350/Hr</b></div>
    <div class="text-center">
        <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
    </div>                                         
</div>
</article>
<!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">Pamela Fryman</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div> 
</div>
</article>
<!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">John Johnson</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div> 
</div>
</article>              <!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">John Snow</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div>                                         
</div>
</article>
<!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">Pamela Fryman</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div> 
</div>
</article>
<!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">John Johnson</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div> 
</div>
</article>              <!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">John Snow</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div>                                         
</div>
</article>
<!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">Pamela Fryman</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div> 
</div>
</article>
<!-- Tutor -->
<article class="col-sm-4 sc_team_item  ph-xl">
  <div class="sc_team_item_avatar"><img alt="" src="http://placehold.it/350x290"></div>
  <div class="sc_team_item_info p-sm">
   <div class="pull-right">   
    <a  title="Rating - 4" href="#">
        <span>4.0 <i class="fa fa-star"></i></span>
    </a>
</div>
<h6 class="sc_team_item_title">
    <a href="personal-page.html">John Johnson</a>
</h6>
<div class="sc_team_item_position">English, History</div>
<div>Pricing from <b>&#x20B9;350/Hr</b></div>
<div class="text-center">
    <a class="btn btn-raised btn-info" href="request-session.html">Request Session</a>
</div> 
</div>
</article>

</section>

<div class="text-center">
    <ul class="pagination pagination-sm">
        <li class="disabled"><a href="javascript:void(0)">«</a></li>
        <li class="active"><a href="javascript:void(0)">1</a></li>
        <li><a href="javascript:void(0)">2</a></li>
        <li><a href="javascript:void(0)">3</a></li>
        <li><a href="javascript:void(0)">»</a></li>
    </ul>
</div>
</div>
</div>
<div class="sc_line sc_line_style_solid margin_top_0 margin_bottom_0"></div>
</section>
</article>
</div>
</div>